<footer class="site-footer">
  <p style="margin: 0 0 8px 0;">{{notice}}</p>
  <p style="margin: 0;">
    <a href="https://liaoweihung.github.io/hub/index.html">&copy; 2026 💎 DiamondL 藥師開發設計</a>
    &nbsp;|&nbsp;
   <a href="https://liaoweihung.github.io/hub/feedback.html?source=藥局衛教助手" target="_blank" onclick="if (typeof trackFeedbackClick === 'function') trackFeedbackClick()">💬 意見回饋</a>
  </p>
  <p style="margin: 0 0 8px 0;">
    <a href="{{prefix}}about.html">關於本站</a> &nbsp;|&nbsp;
    <a href="{{prefix}}author.html">作者資訊</a> &nbsp;|&nbsp;
    <a href="{{prefix}}editorial-policy.html">編輯與資料來源政策</a>
  </p>
</footer>
